# Garante que novas libs entrem com o chapeuzinho (14.x.x)
save-prefix="^"

# Obriga o dev a usar a versão do Node correta definida no package.json
engine-strict=true

# Remove mensagens de "doe dinheiro" e avisos de update do npm
fund=false
update-notifier=false

# (Opcional) Se tiver tendo erro de install por causa de versões de libs
# legacy-peer-deps=true
